            * {
               font-size:10px;
            }
            body { 
               background: #ddd;
            }
            html,body,tr,td,table {
               margin: 0px;
               padding: 0px;
            }
            div.all_messages {
               height:100%;
               margin: 0 0 0 3px;
               padding: 3px;
               overflow-y: auto;
            }
            div.window_bookmark {
                background: #11f;
                height:100%;
                width:2px;
                position:absolute;
            }
            div.menu{
            opacity: 0.5;
                color:bbf;
                background: #55f;
                
                padding:2px;
                position:absolute;
                left:-3px;
                top:-3px;
                z-index:1;
                font-family: monospace;
                font-weight:bold;
                cursor:hand;
            }
            input {
                border: 1px solid #006;
                background: #F0;
                margin: 4px 3px 3px 3px;
                width: 55px;
            }
            label {
                display: block;
                width:  50px;
                float: left;
                margin: 2px 4px 6px 4px;
                text-align: right;
            }
            [id^="post"]{
               background: #ccc;
               /*padding: 3px;*/
               margin: 0px 0px 3px 0px;
               border:1px solid #aaa;

            }
            div.message_head{
               background: #aaf;
               padding:1px;
               position:relative;
               /*left:-4px;
               top:-4px;
               width:276px;*/
            }
            div.message_body{
               margin:3px;
            }
            div.quote_frame {
                margin:5px 0px 5px 5px; 
                background: #bbb;
                padding: 3px;
            }
            .float-left{
            float:left;
            }
            .float-right{
            float:right;
            }
            .button {
                
                height:12px;
                color:#22f;
                
                padding: 0px 0px 0px 0px;
                /*font-weight: bold;
                
                */
                display: block;
                text-align: center;
                border: 2px solid #729FCF;
                -webkit-border-radius: 5px;
                background: #729FCF -webkit-gradient(linear, left top, left bottom,
                    from(rgba(255, 255, 255, 0.45)),
                    to(rgba(255, 255, 255, 0.50)),
                    color-stop(0.4, rgba(255, 255, 255, 0.25)),
                    color-stop(0.6, rgba(255, 255, 255, 0.0)),
                    color-stop(0.9, rgba(255, 255, 255, 0.10)));

                -webkit-user-select: none;
                cursor: default;
            }
            .button:hover { border: 2px solid #22f; }
            .button:active { border: 2px solid red; }
 
            .button_text{
               display:block;
               
               
            }
            span.hide_button{
            margin:-12px 0px 0px -1px;
            font-size:20px;
            font-family: monospace;
            font-weight:bold;
            }
            span.input_meaning{
            margin:-2px 0px 0px 1px;
            
            font-size:12px;
            }
            div.hide_button{
            width:12px;
            font-family: monospace;
            }
            div.input_meaning{
            font-family: Arial;
            margin:3px;
            }
            .button:hover { color:red; }
            .button:active { color:b22; }
 
            

            /* alternative variant
            div.quote_frame > div, td>div{
               background: #bbb;
            }*/
